body {
    /* background-image: url(./FireCloud.png); */
    background-size: 100%;
    margin: 0;
    padding: 0;
}

.primer-parte {background-color: slateblue; width: 85%; margin: auto;}

.logo {width: 150px; height: 150px; padding-left: 30%;}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    border: 4px double white;
    text-align: center;
    margin-left: 8%;
    font-family: 'Unlock', cursive;
    background-color: wheat;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.nav-bar a {
    width: 100%;
    padding: 20px; 
    color: black;
    text-decoration: none;
}

.signs {
    width: 40px;
}

.nav-bar a:hover {
    background-color: dimgray;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.banner {
    background-image: url(./PlaceOfPower.svg);
    background-size: cover;
    margin: auto;
    margin-top: 15px;
    width: 85%;
    height: 40%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.intro {
    display: inline-block;
    margin-left: 133px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 30%;
    border: 5px double white;
    padding: 10px;
}

.intro h2 {
    text-align: center;
}


