body {
    background: plum;
    margin: 0;
    padding: 0;
}

.primer-parte {background-color: slateblue;}

.logo {width: 150px; height: 150px; padding-left: 40px;}

.first {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    border: 1px solid white;
    text-align: center;
    margin-left: 8%;
    font-family: 'Unlock', cursive;
}

.nav-bar a {
    width: 100%;
    padding: 20px; 
    color: black;
    text-decoration: none;
}

.nav-bar a:hover {background-color: dimgray;}


